.contact-header {
    margin-top: 20px;
    padding-left: 18%;
    width: 60%;
    background-color: rgba(0, 0, 0, .25);
    text-align: center;
}


.contact-paragraph {
    display: block;
    min-height: 120px;
    margin-left: 18%;
    margin-right: 18%;  
    font-size: 2vw; 
    margin-bottom: 0px;
}

.contact-form {
    margin-left: 20%;
    margin-right: 20%;
}

.form-errors {
    margin-left: 20%;
    margin-right: 20%;
}

.contact-form div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-form div label input {
    height: 2vh;
    margin: 5px;
}

.contact-form-name {
    display: inline-block;
    width: 100%;
}

.contact-form-name-field {
    display: inline-block;
    width: 50%;
}

.contact-form-name-field input {
    width: 90%;
}

.contact-form-email {
    width: 100%;
}

.contact-form-email-field {
    width: 100%;
}

.contact-form-email-field input {
    width: 80%;
}

.contact-form-phone {
    width: 100%;
}

.contact-form-phone-field {
    width: 100%;
}

.contact-form-phone-field input {
    width: 10%;
}

.contact-form-subject {
    width: 100%;
}

.contact-form-subject-field {
    width: 100%;
}

.contact-form-subject-field input {
    width: 80%;
}

.contact-form-message {
    width: 100%;
}

.contact-form-message-field {
    width: 100%;
}

.contact-form-message-field textarea {
    width: 80%;
    height: 20vh;
    overflow-y: scroll;
}

.form-errors {
    text-decoration: none;
    list-style: none;
}

.form-error {
    color: #e62048;
}

.thank-you {
    background-color: #C2FFB1;
    border: solid 2px #000000;
    border-radius: 4px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}


.contact-form-submit button {
    color: #FFFFFF;
    background: #333030;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}

.contact-form-submit button:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
}

.contact-form-submit button:hover {
    transition: all 60ms ease;

    opacity: .85;
}
