img.home-background-break-image {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.parallax { 
    /* The image used */
    background-image: url("../images/1.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.home-text-1 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.home-text-2 {
    margin-top: 80px;
    margin-bottom: 80px;
}


.home-header {
    display: block;
    text-align: center;
}

.home-paragraph {
    display: block;
    margin-left: 18%;
    margin-right: 18%;   
}

.carouselHolder {
    width: 100%;
    display: block;
    height: 500px;
}
