img.home-background-break-image {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.parallax { 
    /* The image used */
    background-image: url("../images/1.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
