img.home-background-break-image {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.parallax { 

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.home-text-1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.home-text-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}


.home-header {
    display: block;
    text-align: center;
    padding-left: 18%;
    width: 60%;
    background-color: rgba(0, 0, 0, .25);
}



.home-subheader {
    display: block;
    text-align: center;
    position: relative;
    top: -10px;
}

.home-paragraph {
    display: block;
    min-height: 120px;
    margin-left: 18%;
    margin-right: 18%;   
}

.carouselHolder {
    width: 100%;
    display: block;
    height: 500px;
}
